@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

$duration: 1000ms;

::view-transition-old(animation-example) {
  animation: #{$duration} linear both slide-to-left;
}
::view-transition-new(animation-example) {
  animation: #{$duration} linear both slide-from-right;
}

.fwd,
.bwd {
  // view-transition-name: animation-example-fwd;
}

.fwd {
  view-transition-name: animation-example;
}

.bwd {
  view-transition-name: animation-example;
}
