@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
  }
}

@keyframes slide-to-right {
  to {
    transform: translateX(100%);
  }
}

$duration: 150ms;

$bezier: cubic-bezier(0.17, 0.67, 0.83, 0.67);

:root {
  --duration: #{$duration};

  // reduced motion
  @media (prefers-reduced-motion: reduce) {
    --duration: 0ms;
  }
}

::view-transition-old(animation-example-bwd) {
  animation:
    var(--duration) #{$bezier} both slide-to-right,
    var(--duration) linear both fade-out;
}
::view-transition-new(animation-example-bwd) {
  animation: var(--duration) #{$bezier} both slide-from-left;
}

::view-transition-old(animation-example-fwd) {
  animation:
    var(--duration) #{$bezier} both slide-to-left,
    var(--duration) ease-out both fade-out;
}
::view-transition-new(animation-example-fwd) {
  animation: var(--duration) #{$bezier} both slide-from-right;
}

.fwd {
  view-transition-name: animation-example-fwd;
}

.bwd {
  view-transition-name: animation-example-bwd;
}
